<div class="movies-container" id="top">
  <ul class="movies">
    <li ng-repeat="movie in movies" class="film-box" background-img="http://image.tmdb.org/t/p/w500{{movie.poster_path}}">
      <a class="film-description" ng-href="movie/{{movie.id}}"></a>
    </li>
  </ul>
  <div class="row">
      <div class="col-md-9 col-md-offset-3">
          <uib-pagination total-items="totalPages" ng-model="currentPage" ng-change="pageChanged()" items-per-page="18" max-size="5" boundary-links="true"></uib-pagination>
      </div>
  </div>
</div>